* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {font-size: 62,5%;}
body {font-size: 1.6rem;}
ul {list-style: none;}

a {
    text-decoration: none;
    color: #333;
}

/* == == == Header == == == */
.header {
    background-color: #f1f1f1;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav";
}

.logo {grid-area: logo;}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* == == == Hero == == == */

.hero {
    background-color: #000;
    color: #fff;
    padding: 5rem;
    height: 40rem;
    display: grid;
    text-align: center;
    grid-template-areas: "title" "subtitle";
    justify-content: center;
    align-items: center;
}

.hero h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    grid-area: title;
}

.hero p {
    font-size: 2rem;
    grid-area: subtitle;
}

/* == == == Cards == == == */
.cards {
    margin: 5rem 0;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-areas: "card1 card2 card3"
                         "card4 card5 card6";
}

.card {
    border-radius: 5px;
    background-color: #d4d4d4;
    padding: 2rem;
    text-align: center;
}

.card h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.card p {
    color: #666;
    font-size: 1.8rem;
}

.card img {
    border-radius: 5px;
    width: 100%;
}

.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.card3 {grid-area: card3;}
.card4 {grid-area: card4;}
.card5 {grid-area: card5;}
.card6 {grid-area: card6;}

/* == == == Footer == == == */
.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "copyright";
}

.footer_content {grid-area: copyright;}