body {font-family: 'Catamaran', sans-serif;}

h1 {
    font-size: 45px;
    text-transform: uppercase;
}

h2 {
    color: #dc143c;
    font-size: 30px;
    letter-spacing: 1px;
}

img {
    border-radius: 7px;
    width: 60%;
    filter: opacity(50%);
}

img:hover {filter: opacity(100%);}

p {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    color: #1f82e6;
    font-size: 25px;
}

ol, ul {
    list-style: none;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #dc143c;
    font-size: 18px;
    font-weight: 700;
}

a:hover {
    color: #1f82e6;
    text-decoration: underline;
}