:root {
    /* Colors */
    --color-blue: #141464;

    /* Margins */
    --margin-base: 20px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    color: var(--color-blue);
    margin-bottom: var(--margin-base);
    width: 50%;
    height: 90%;
}

.box h2 {
    margin: var(--margin-base);
    font-size: 6vmin;
}

.box p {
    margin: var(--margin-base) 0;
    width: 90%;
    font-size: 3vmin;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.box_form_item {
    padding: 0 10px;
    width: 45%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.box_form_item label {font-size: 18px;}

input, select {
    padding-left: 40px;
    width: 100%;
    height: 40px;
    font-size: 18px;
}

select {padding-left: 10px;}

.icon {
    position: relative;
    top: 28px;
    left: 15px;
}

input:focus, select:focus {outline-color: #20046e;}

.box_form_radio {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.radio {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.box_form_button {
    margin-bottom: var(--margin-base);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.box_form_button button {
    border: 0;
    border-radius: 5px;
    background-color: var(--color-blue);
    color: #fff;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
}

.arrow {
    margin-left: 5px;
    color: #6c98e5;
}

label:not(.radio label, .select) {margin-bottom: -10px;}