:root {
    --primary: #FFE909;
    --bg-color: #121212;
    --bg-input: #414141;
    --light: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}
body {background-color: var(--bg-color);}

.form_container {
    max-width: 350px;
    padding: 1rem;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

#floatingInput {
    box-shadow: 1px 1px 3px rgba(200, 200, 200, .1);
    border: 0;
    background-color: var(--bg-input);
    color: var(--light);
    height: 20px;
    transition: .3s;
}

#floatingInput:hover {border: 1px solid var(--primary);}

label {
    background-color: transparent;
    color: var(--light);
}

.btn {
    box-shadow: 1px 1px 3px rgba(200, 200, 200, .1);
    border-radius: 100px;
    border: 0;
    background-color: var(--primary);
    color: var(--bg-color);
    font-weight: 600;
    height: 44px;
    transition: .3s;
}

.btn:hover {
    border: 1px solid var(--primary);
    background-color: var(--bg-color);
    color: var(--primary);
}